name: analog_clock_picker
description: package for pick time using analog clock.
version: 0.0.4
homepage: https://studiocloud.dev

environment:
  sdk: ">=2.16.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
